@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@600&display=swap');

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html {
    font-size: 14px;
    font-family: Ruda, sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2em;
}

 .section-title {
    font-size: 4em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: black;
}

.section-title span {
    font-size: inherit;
    color: red;
}

/* HEADER */

.header {
    position: absolute;
    padding: 1em;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.header__title {
    display: inline-block;
    position: relative;
    left: 10%;
    text-transform: uppercase;
    font-size: 1.5em;
}

.header__nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(50%, -50%);

}

.header__nav ul li {
    display: inline-block;
    margin-left: 1.4em;
}

.header__nav a {
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav a:hover {
    color: red;
}


/* MAIN HOME */

.main__home {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4)
        ), 
        url(./images/home-5.avif);
    background-size: cover;
    background-position: center;
}

.main__home h1 {
    display: block;
    position: relative;
    width: fit-content;
    font-size: 4em;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

.main__home h1:nth-child(1) {
    animation-delay: 1s;
}

.main__home h1:nth-child(2) {
    animation-delay: 2s;
}

.main__home h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
    
}

.main__home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

.main__home h1:nth-child(1) span {
    animation-delay: 0,5s;
}

.main__home h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.main__home h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* Skills Section */

.main__skills {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}

.main__skills_header p {
    font-size: 1.4em;
    margin-top: 0.5em;
    line-height: 2em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: black;
}

.main__skills_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main__skills_main__item {
    flex-basis: 45%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 1em;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.1)
        ), 
        url(./images/skills-10.avif);
    background-size: cover;
    margin: 0.7em;
    min-height: 15em;
    height: max-content;
}

.main__skills_main__item > * {
    text-align: right;
    width: 70%;
    margin-left: auto;
}

.main__skills_main__item h2 {
    font-size: 2em;
    color: crimson;
}

.main__skills_main__item_more {
    color: crimson;
    cursor: pointer;
}

.main__skills_main__item_more:hover {
    color: red;
    font-weight: 900;
}

/* End  Skills Section */


/* Projects Section */

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 10px;
}

.main__projects_header h1 {
    margin-bottom: 50px;
}

.all-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3em auto;
    overflow: hidden;
    border-radius: 10px;
}

.project-info {
    padding: 3em;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.project-info h1 {
    font-size: 3em;
}

.project-info h2 {
    font-size: 1.8em;
    margin-top: 0.8em;
}

.project-img {
    filter: brightness(0.5);
    height: 20em;
}

.project-img img {
    width: 100%;
    height: auto;
}

.project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End Projects Section */


/* Keyframes */

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100%{
        color: aliceblue
    }
}

@keyframes text_reveal_name {
    100%{
        color: crimson;
    }
}

/* End Keyframes */